.row {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    margin-top: 10px;
}


.zdjecie {
    height: 600px;
    width: 400px;
    display: inline-block;
    margin: 30px;
    user-select: none;
    flex-shrink: 0;
}

.zdjecie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.inny-selektor img {
    height: 600px;
    width: 400px;
    object-fit: cover;
}
